.card {
   max-width: 22rem;
   border: 4px solid black;
   margin: 2rem;
   overflow: hidden;
}
.card img {
   width: 100%;
   height: 18rem;
   cursor: pointer;
   transform: scale(110%);
}

.about {
   text-align: justify;
   margin-top: 0.5rem;
}
.skills {
   display: flex;
   flex-wrap: wrap;
   margin-top: 0.5rem;
}

.skill {
   border-radius: 3px;
   background-color: orange;
   margin: 0.2rem;
   padding: 0 0.4rem;
   text-transform: capitalize;
   cursor: pointer;
}

.description {
   margin-top: 0;
   margin: 1.5rem;
}
