#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0;
}

.card {
   width: 25vw;
   height: 10rem;
   background-color: #cacaca7c;
   color: black;
   text-align: center;
   align-content: center;
   border-radius: 0.3rem;
   border: 0.5px solid #a8a8a8;
   padding: 0.5rem;
   margin: 0.5rem;
   cursor: pointer;
}

.card:active {
   background-color: #ff00008d;
   color: white;
}

.card-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
